li {
    margin: 10px 0px;
}

.button {
    margin-bottom: 10px;
}

.text-field {
    margin-right: 30px;
}

.page-header {
    text-align: center;
}

.user__card {
    display: inline-block;
    overflow: hidden;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
    margin: 4px 12px;
}

.user__text {
    text-align: center;
}

.form {
    width: 600px;
    margin: 16px auto;
    padding: 20px;
}

.validation-text {
    padding-bottom: 3px;
}

.form-status__valid {
    color: rgb(1, 114, 1);
}

.form-status__invalid {
    color: red;
}

.form-status__hidden {
    visibility: hidden;
}